<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>about</title>
    <link rel="stylesheet" href="/styles/styles.css" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
  </head>
  <body class="fondo">
    <header><nav class="navbar-about">
      <span class=" p3-sobre-mi">Sobre mí</span>
        <img class="eyes" src="/images/ojos.png" alt="background-eyes">
       </nav>
  </header>
  <section class="section1">
  <div class="gara-background3">
    <div class="p3 left-column2"> 
      <p> Como ya he dicho en la introducción, soy Gara, o Garagardo, 
        a veces me llaman por mi nombre completo. <br>
     </p>
     <p>Nací en el verano de 2018, no sabemos exactamemte donde, pero por el entonro de Arroyomolinos (Madrid).<br>
    No sabemos quienes eran mis padres biológicos, ni "qué" eran (algunos apuestan que algo de cabra tengo)<br>
  Según mi aspectos, dicen que puedo tener algo de podenco, algo de labrador, algo de cabr... Lo que está claro que<br>
   en algún momento de mis ancestros, hubo algún o alguna nórdica, ¿de dónde iba yo a sacar mis ojos azules sino?<br></p>
   </div>
    <img src="/images/caraloca.jpeg" class="foto-portada2" alt="foto-Gara-corriendo">
  </div>
</div>
    <div class="gara-background3">
      <img src="/images/hermanas.jpg" class="foto-portada2" alt="foto-Gara-Kira-mimos">
    <div class="p32 left-column22">
      <p class="p32"> Kira es mi hermana perruna mayor. Tiene 3 años más que yo, así que por lo general, se cansa de mí<br>
      cuando me pongo a jugar como una loca. No es que no tenga energía, dale una pelota y lo descubrirás, <br> 
      que la tía cuando se pone no hay quien la pare.<br>
    Pero en general prefiere estar más traquila, aunque lo que más le gusta es guardar el patio. <br>
  Y a poder ser ladrar a todo lo que se acerque a la entrada.</p>
    <p class="p32"> De Kira sí, se sabe su procedencia, ella es una perrita de raza<br>
    una pastor Belga Mallinoise, y para ser una Mali, se supone que es muy tranquila.<br>
  Es muy buena gente. Es mi fiel escudera. Mi compañera. La verdad es que me pierdo sí no estoy junto a ella.</p>

    </div></div>

    </div>
  </section>
  </body>
</html>
