<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Garagardo´s Friends.</title>
    <link rel="stylesheet" href="/styles/styles.css" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor"
      crossorigin="anonymous"
    />
  </head>
  <body id="body">
    <head>
      <nav class="navbar navbar-expand-lg bg-light">
        <div class="container-fluid">
          <a class="navbar-brand" href="#">Home</a>
          <button
            class="navbar-toggler"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#navbarNav"
            aria-controls="navbarNav"
            aria-expanded="false"
            aria-label="Toggle navigation"
          >
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="/about"
                  >Sobre mí</a
                >
              </li>
              <li class="nav-item">
                <a class="nav-link active" href="/works">Trabajo</a>
              </li>
              <li class="nav-item">
                <a class="nav-link active" href="/photoGallery">Gara y sus amigos</a>
              </li>
            </ul>
          </div>
        </div>
      </nav>
    </head>
    <div class="gara-background"> 
      <div class="left-column">
        <h1 id="h1-portada">Hola, soy Gara</h1>
        <p>Soy una perrita mestiza, que tras vivir un año no se sabe dónde, acabé en una protectora de Arroyomolinos,
        y sin saber muy bien por qué, un buen día vinieron a por mí.</p>       
      <p>Dejé de estar en un lugar semicubierto, mitad de ladrillo, mitad de barrotes </p>
      <p>y con mucho ruido, ya que los hermanos perrunos que allí había, no paraban de ladrar.</p>
      <p>Como iba diciendo, un buen día vinieron a por mí </p>
      <p>lo que a posteriori me enteré, que significaba que fui adoptada. </p>
      <p>Me adoptaron dos humanos, aún seguimos viviendo juntos. </p>
      <p>Al poco de estar yo con mis humanos, llegó mi hermana perruna<span>¡Kira!</span> </p>
      <p>¡Desde entonces vivo muy feliz!</p>
      </div>
       <img class="foto-portada" src="/images/garaPortada.jpg" alt="foto de Gara1"/>
      
     
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>

  </body>
</html>
