<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Photo Gallery</title>
    <link rel="stylesheet" href="/styles/styles.css" />
  </head>
  <body class="fondo">
    <p class="p2-sobre-mi">Gara y sus amigos</p>
    <section>
      <div class="gallery">
        <div class="row">
          <div class="column">
            <img
              src="/images/kira.jpeg"
              class="image-gallery"
              alt="foto-kira"
            />
            <h4 class="h4">Kira</h4>
            <p class="p2">
              Mi mejor amiga, mi hermana, mi escudera... ¿o eso era al revés?
            </p>
          </div>
          <div class="column">
            <img
              src="/images/Curra.jpg"
              class="image-gallery"
              alt="foto-curra"
            />
            <h4 class="h4">Curra</h4>
            <p class="p2">Toda una veterana, 15 añazos!</p>
          </div>
          <div class="column">
            <img
              src="/images/Chaval.jpeg"
              class="image-gallery"
              alt="foto-chaval"
            />
            <h4 class="h4">Chaval</h4>
            <p class="p2">
              Recién llegado a la familia (es mi primo), bienvenido Chaval!
            </p>
          </div>
        </div>
      </div>
      <div class="gallery">
        <div class="row">
          <div class="column">
            <img
              src="/images/Dandy.jpeg"
              class="image-gallery"
              alt="foto-dandy"
            />
            <h4 class="h4">Dandy</h4>
            <p class="p2">
              Con cierto acento colombiano, es un estupendo nadador.
            </p>
          </div>
          <div class="column">
            <img src="/images/Paco.jpg" class="image-gallery" alt="foto-paco" />
            <h4 class="h4">Paco</h4>
            <p class="p2">
              Este pequeñajo es un poco gruñón, pero es buena gente.
            </p>
          </div>
          <div class="column">
            <img src="images/Tigre.JPG" class="image-gallery" alt="foto-tigre"/>
            <h4 class="h4">Tigre</h4>
            <p class="p2">
              No le conocí, tengo entendido que era muy valiente y muy
              inteligente...
            </p>
          </div>
        </div>
      </div>
      <div class="gallery">
        <div class="row">
          <div class="column">
            <img
              src="/images/Gorda.jpg"
              class="image-gallery"
              alt="foto-Luna"
            />
            <h4 class="h4">La Gorda</h4>
            <p class="p2">
              Su verdadero nombre era Luna, pero le gustaba mucho comer...
            </p>
          </div>
          <div class="column">
            <img
              src="/images/Fiera.jpg"
              class="image-gallery"
              alt="foto-fiera"
            />
            <h4 class="h4">Fiera</h4>
            <p class="p2">
              No la conocí, pero peso a su nombre era un cacho de pan.
            </p>
          </div>
          <div class="column">
            <img
              src="/images/Orejas.png"
              class="image-gallery"
              alt="foto-Orejas"
            />
            <h4 class="h4">Orejas</h4>
            <p class="p2">
              Nos ha dejado hace poco el Orejudo, un fuerte abrazo!
            </p>
          </div>
        </div>
      </div>
    </section>
  </body>
</html>
