<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>works</title>
    <link rel="stylesheet" href="/styles/styles.css" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
  </head>
  <body class="fondo">
    <header><nav class="navbar-about">
      <span class=" p3-sobre-mi">Sobre mí</span>
     </nav></header>
     <section class="section1">
        <p class="pA1"> Mi trayectoria laboral, mi trabajo, o mi experiencia previa... bueno, por mucho que lo quiera adornar,<br>
              la verdad, que no sé como decir lo que yo me dedico  a hacer....<br>
              Lo podemos decir así: Lo que yo me dedico a hacer:
        </p>
        <div class="gara-background3">
          <img src="/images/garaCerveza.jpg" class="foto-soy-buena1">
      <p class="pA2"> Yo me dedico a estar despreocupada. <br>
        Ya lo hace todo Kira por mí, me refiero a lo de guardar la casa. Yo más bien, prefiero coger cosas, y masticarlas<br>
        en particular, me gustan las chanclas de mi humano. Pero cualquier cosa me sirve: un trozo de la valla de plástico, <br>
        una planta, un trozo de madera que estaba olvidado de guardar,... a veces los mandos de la TV, un cesto de mimbre que tenía a mano <br>
        (mejor dicho a boca), mis humanos son muy considerados dejándome cosas para que no me aburra<br>
      </p>
      </div>
     <div class="gara-background4">
      <p class="pA2"> También se me da muy bien subirme al sofá o a la cama cuando mis humanos se van. Kira en esto me suele acompañar.<br>
      En alguna ocasión que mis humanos han dejado cosas ricas en el cubo ese de guardar cosas ricas que hay en la cocina,<br> 
      pues en alguna ocasión, me he dedicado a sacar lo de dentro y apurarlo un poco. Todo sea por el ahorro. En esto Kira también me ayuda<br>
    la verdad que no entiendo porque mis humanos guardan esas cosas ahí... pudiendo dejármelas a mí para que yo las guarde<br>
  se lo tengo que preguntar.</p>
  <img src="/images/siyosoybuena.jpeg" class="foto-soy-buena1" alt="foto-gara-cubo-basura">
</div>
<div>
  <p class="pA3"> Y bueno, no me puedo quejar. Tras todo el esfuerzo del día a día, mis humanos me han ido llevando a sitios chulos<br>
  He estado en la playa de Asturias (no me gustan las olas, me dan un poquitito de miedo),<br>
  también hemos ido a la playa de Málaga (hace mejor tiempo). Hemos ido bastante a la montaña, en Asturias, Cantabria, <br>
   en el Pirineo, aquí también cerca de casa, aunque eso sin que sea en vacaciones. <br>
   También me han llevado a ver cosas en Cuenca, estuvimos en Mérida, en un pueblito de Toledo al que de vez en cuando vamos <br>
   pero hace mucho calor en ese pueblito... aunque en el campo de ese pueblito hay muchos conejos... Todo tiene su lado bueno.<br>
</p>
<div class="gara-background3 fotos-row">
<img src="/images/Garaplaya.jpg" class="foto-soy-buena-peq" alt="gara-playa">
<img src="/images/GaraKiraFurgo.jpg" class="foto-soy-buena-peq" alt="gara-kira-furgo">
<img src="/images/pirineo.jpg" class="foto-soy-buena-peq" alt="pirineo">
</div>




</div>
  </body>
</html>
